# Dependency directory
bower_components/*
public/vendor/*
node_modules/*

# Config
config/*

# min js
*.min.js
*.min.js.map
*.min.css

# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt