script(src='/vendor/jquery/dist/jquery.min.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
script(src='/vendor/underscore/underscore-min.js')
script(src='/vendor/backbone/backbone.js')
script(src='http://isotope.metafizzy.co/isotope.pkgd.min.js')
script(src='http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js')