#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
          a(href='#') 熱門影片        
        li.hot-item
          a(href='#')
            img.img-responsive(src='http://i3.ytimg.com/vi/VaX_mhOYGpI/maxresdefault.jpg', alt='')
          a(href='#') Faker - 韓服單排李星 Jungle
        li.hot-item
          a(href='#')
            img.img-responsive(src='http://i3.ytimg.com/vi/VaX_mhOYGpI/maxresdefault.jpg', alt='')
          a(href='#') Faker - 韓服單排李星 Jungle
        li.hot-item
          a(href='#')
            img.img-responsive(src='http://i3.ytimg.com/vi/VaX_mhOYGpI/maxresdefault.jpg', alt='')
          a(href='#') Faker - 韓服單排李星 Jungle
        li.hot-item
          a(href='#')
            img.img-responsive(src='http://i3.ytimg.com/vi/VaX_mhOYGpI/maxresdefault.jpg', alt='')
          a(href='#') Faker - 韓服單排李星 Jungle
        li.hot-item
          a(href='#')
            img.img-responsive(src='http://i3.ytimg.com/vi/VaX_mhOYGpI/maxresdefault.jpg', alt='')
          a(href='#') Faker - 韓服單排李星 Jungle