doctype html
html
  head
    title= title
    include ../layout/meta
    include ../layout/css 
 
  body
  .login-page
    .login-box
      .login-logo
        a(href='#')
          b funtube 
        = title
      .login-box-body
        p.login-box-msg 請輸入要修改的新密碼
        form(role='form', action='/administrator/#{user._id}/changepassword', method='post')
          .form-group.has-feedback
            input.form-control(type='password', name="password", placeholder='新密碼')        
            span.glyphicon.glyphicon-lock.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', name="confirm", placeholder='確認密碼')        
            span.glyphicon.glyphicon-lock.form-control-feedback     
          .row
            .col-xs-12
              button.btn.btn-primary.btn-block.btn-flat(type='submit') 送出修改