doctype html
html
  head
    title= title
    include ../layout/meta
    include ../layout/css 
 
  body
  .login-page
    .login-box
      .login-logo
        a(href='#')
          b funtube 
        = title
      .login-box-body
        p.login-box-msg 請輸入帳號密碼登入
        form(role='form', action='/administrator/login', method='post')
          .form-group.has-feedback
            input.form-control(type='text', name="username", placeholder='帳號')        
            span.glyphicon.glyphicon-user.form-control-feedback     
          .form-group.has-feedback
            input.form-control(type='password', name="password", placeholder='密碼')        
            span.glyphicon.glyphicon-lock.form-control-feedback     
          .row
            .col-xs-12
              button.btn.btn-primary.btn-block.btn-flat(type='submit') 登入