link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css') 
link(rel='stylesheet', href='/css/AdminLTE.min.css')
link(rel='stylesheet', href='/css/admin/_all-skins.min.css')
link(rel='stylesheet', href='/vendor/iCheck/flat/blue.css')
link(rel='stylesheet', href='/vendor/morris/morris.css')
link(rel='stylesheet', href='/vendor/jvectormap/jquery-jvectormap-1.2.2.css')
link(rel='stylesheet', href='/vendor/datepicker/datepicker3.css')
link(rel='stylesheet', href='/vendor/daterangepicker/daterangepicker-bs3.css')
link(rel='stylesheet', href='/vendor/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
link(rel='stylesheet', href='/css/admin/admin.css?#{cacheBreaker}')