link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/admin/admin.css?#{cacheBreaker}')