doctype html
html
  head
    include meta
    block head
    include css 
    block neck
    
  body.skin-blue
    include navbar
   
    div.wrapper
      div.content-wrapper
        block body
      include footer
    
    include js
    
    block feet